target
**/.settings
**/.classpath
**/.project
**/.buildpath
**/.factorypath
**/.springBeans
.idea
.checkstyle
.DS_Store
.*~
*.iml
**/logs/
**/debug-logs/
*.class
*.swp
*.log
*.tmp
**/bin/
/tattletale/
/.metadata/

