target
**/.settings
**/.classpath
**/.project
**/.buildpath
**/.factorypath
**/.springBeans
**/.project
**/.classpath
.idea
.checkstyle
.DS_Store
.*~
*.iml
**/logs/
**/debug-logs/
*.class
*.swp
*.log
*.tmp
packages/root-pack-extras/config-resources/mariadb/db-sql-scripts/main-schemas/MySQL-Catalog-schema.sql
packages/root-pack-extras/config-resources/mariadb/db-sql-scripts/main-schemas/MySQL-Requests-schema.sql
**/bin/
/tattletale/
/.metadata/
**/.sts4-cache
**/.java-version
.vscode
