[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/onap-gerrit-mso-committers
	read = group GitHub Replication
	pushMerge = group ldap/onap-gerrit-mso-committers
[project]
	description = Service Orchestrator
[allowSuperproject "doc"]
	matching = refs/heads/master:refs/heads/master
