[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/onap-gerrit-mso-committers
	owner = group saml/onap-gerrit-mso-committers
	read = group GitHub Replication
	pushMerge = group ldap/onap-gerrit-mso-committers
	pushMerge = group saml/onap-gerrit-mso-committers
[project]
	description = Service Orchestrator
