[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/onap-gerrit-mso-committers
	push = +force group ldap/lf-gerrit-transfer
[project]
	description = Service Orchestrator
[access "refs/heads/*"]
	push = group ldap/lf-gerrit-transfer
	push = group ldap/onap-gerrit-holmes-committers
