<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM/dd-HH:mm:ss.SSS}|%X{RequestId}|%X{ServiceInstanceId}|%thread|%X{ServiceName}|%X{InstanceUUID}|%.-5level|%X{AlertSeverity}||%X{ServerIPAddress}|%X{ServerFQDN}|%X{RemoteHost}||%X{Timer}|%msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="test" class="org.onap.so.adapters.requestsdb.application.TestAppender" />

    <logger name="com.att.ecomp.audit" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.att.eelf.metrics" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.att.eelf.error" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.onap" level="${so.log.level:-DEBUG}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="test" />
    </logger>

    <logger name="liquibase" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>


    <logger name="ch.vorburger" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.hibernate" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.reflections" level="ERROR" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="test" />
    </root>

</configuration>
