<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Spring bean to be invoked through the ApplicationContextElResolver -->
  <bean id="aaiConnection" class="org.openecomp.mso.bpmn.infrastructure.pnf.aai.AaiConnectionImpl"/>

  <bean id="checkAaiForCorrelationIdDelegate" class="org.openecomp.mso.bpmn.infrastructure.pnf.delegate.CheckAaiForCorrelationIdDelegate">
    <property name="aaiConnection" ref="aaiConnection"/>
  </bean>

  <bean id="updateAaiEntryForIpAddressDelegate" class="org.openecomp.mso.bpmn.infrastructure.pnf.delegate.UpdateAaiEntryForIpAddressDelegate">
    <property name="aaiConnection" ref="aaiConnection"/>
  </bean>

  <bean id="createAaiEntryWithPnfIdDelegate" class="org.openecomp.mso.bpmn.infrastructure.pnf.delegate.CreateAaiEntryWithPnfIdDelegate">
    <property name="aaiConnection" ref="aaiConnection"/>
  </bean>

</beans>
