<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Spring bean to be invoked through the ApplicationContextElResolver -->
  <bean id="aaiConnection" class="org.openecomp.mso.bpmn.infrastructure.pnf.aai.AaiConnectionImpl"/>

  <bean id="checkAaiForCorrelationIdDelegate" class="org.openecomp.mso.bpmn.infrastructure.pnf.delegate.CheckAaiForCorrelationIdDelegate">
    <property name="aaiConnection" ref="aaiConnection"/>
  </bean>

  <bean id="createAaiEntryWithPnfIdDelegate" class="org.openecomp.mso.bpmn.infrastructure.pnf.delegate.CreateAaiEntryWithPnfIdDelegate">
    <property name="aaiConnection" ref="aaiConnection"/>
  </bean>

  <bean id="informDmaapClient" class="org.openecomp.mso.bpmn.infrastructure.pnf.delegate.InformDmaapClient">
    <property name="dmaapClient" ref="pnfEventReadyConsumer"/>
  </bean>

  <bean id="cancelDmaapSubscription" class="org.openecomp.mso.bpmn.infrastructure.pnf.delegate.CancelDmaapSubscription">
    <property name="dmaapClient" ref="pnfEventReadyConsumer"/>
  </bean>

  <bean id="pnfEventReadyConsumer" class="org.openecomp.mso.bpmn.infrastructure.pnf.dmaap.PnfEventReadyConsumer"
    init-method="init">
    <property name="dmaapHost" value="${host}"/>
    <property name="dmaapPort" value="${port}"/>
    <property name="dmaapProtocol" value="${protocol}"/>
    <property name="dmaapUriPathPrefix" value="${uriPathPrefix}"/>
    <property name="dmaapTopicName" value="${eventReadyTopicName}"/>
    <property name="consumerGroup" value="${consumerGroup}"/>
    <property name="consumerId" value="${consumerId}"/>
    <property name="dmaapClientDelayInSeconds" value="${clientThreadDelayInSeconds}"/>
  </bean>

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations" value="classpath:dmaap.properties"/>
  </bean>

</beans>
