<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Spring bean to be invoked through the ApplicationContextElResolver -->
  <bean id="aaiConnection" class="org.openecomp.mso.bpmn.infrastructure.pnf.aai.AaiConnectionImpl"/>

  <bean id="checkAaiForCorrelationIdDelegate" class="org.openecomp.mso.bpmn.infrastructure.pnf.delegate.CheckAaiForCorrelationIdDelegate">
    <property name="aaiConnection" ref="aaiConnection"/>
  </bean>

  <bean id="createAaiEntryWithPnfIdDelegate" class="org.openecomp.mso.bpmn.infrastructure.pnf.delegate.CreateAaiEntryWithPnfIdDelegate">
    <property name="aaiConnection" ref="aaiConnection"/>
  </bean>

  <bean id="informDmaapClient" class="org.openecomp.mso.bpmn.infrastructure.pnf.delegate.InformDmaapClient">
    <!--TODO: uncommend line below after DmaapClient is pushed to master-->
    <!--<property name="dmaapClient" ref="dmaapClient"/>-->
  </bean>

  <bean id="pnfEventReadyConsumer" class="org.openecomp.mso.bpmn.infrastructure.pnf.dmaap.PnfEventReadyConsumer">
    <property name="dmaapHost" value="${dmaapHost}" />
    <property name="dmaapPort" value="${dmaapPort}"/>
    <property name="dmaapProtocol" value="${dmaapProtocol}"/>
    <property name="dmaapUriPathPrefix" value="${dmaapUriPathPrefix}"/>
    <property name="dmaapTopicName" value="${eventReadyTopicName}"/>
    <property name= "consumerGroup" value="${consumerGroup}"/>
    <property name="consumerId" value="${consumerId}"/>
  </bean>

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations" value="classpath:dmaap.properties"/>
  </bean>

</beans>
