
server:
  port: 8080

spring:
  datasource:
    jdbc-url: jdbc:mariadb://${DB_HOST}:${DB_PORT}/catalogdb
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
    dbcp2: 
      initial-size: 5
      max-total: 20 
      validation-query: select 1
      test-on-borrow: true 
  jpa:
      show-sql: true
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        ddl-auto: validate
        naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
        enable-lazy-load-no-trans: true

request:
  datasource:
    jdbc-url: jdbc:mariadb://${DB_HOST}:${DB_PORT}/requestdb
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver  
#Actuator
management:
  endpoints:
    web:
      base-path: /manage
      exposure:
        include: "*"
  metrics:
    se-global-registry: false
    export:
      prometheus:
        enabled: true # Whether exporting of metrics to Prometheus is enabled.
        step: 1m # Step size (i.e. reporting frequency) to use.


