html, body{
	margin:0;
	padding:0;
	height:100%;
}
div#page-wrapper{
	width: 991px;
	min-height: 100%;
	margin: auto; 
	border-style: solid;
	border-width: thin;
	border-color: #d0d6e0;
	position: relative;
}
body{
	display:none;
}
nav#header{
	padding: 10px;
	width: 972px;
	height: 101.8px;
	border-bottom: 1px solid #d0d6e0;
	text-align: left;
}
nav#header ul{
	padding-left: 0px;
	list-style-type: none;
}
nav#header a{
	color: #008080;
	text-decoration: none;
}
nav#header a:hover{
	text-decoration: underline;
}
nav#left-col{
	position: absolute;
	left: 0;
	width: 248px;
	padding-bottom: 35px;
}
nav#left-col ul{
	padding-left: 10px;
	list-style-type: none;
}
.pages {
	color: #008080;
	text-decoration: none;
	text-align: left;
	font-size: 18px;
}
.sub-bullet a{
	text-decoration: none;
	text-align: left;
	font-size: 14px;
	color: black;
}
.sub-bullet a:hover{
	text-decoration: underline;
}
div#right-col{
	padding-left: 150px;
	padding-bottom: 35px;
	padding-right: 50px;
}
.title{
	color: #008080;
	font-size: 24px;
	list-style-type: none;
}
.info-title{
	color: black;
	font-size: 18px;
	list-style-type: none;
}
.info{
	color: grey;
	font-size: 14px;
	list-style-type: none;
}
.info-list{
	list-style-position:inside;
	font-size: 14px;
	color: grey;
	position: relative;
	padding-bottom: 5px;
}
.info-sublist{
	list-style-position:inside;
	font-size: 14px;
	color: grey;
	position: relative;
	padding-bottom: 5px;
	padding-left: 45px;
}
div#footer-wrapper{
	position: absolute;
    bottom: 0;
    width: 981px;
    height: 35px;
	background-color: #008080;
	color: white; 
	font-size:15px;
	text-align:right;
	padding-right:10px;
}
div#footer-wrapper a{
	color: white;
	text-align:right;
	text-decoration:none;
}
div#footer-wrapper a:hover{
	text-decoration: underline;
}
