# will be used as entry in DB to say SITE OFF/ON for healthcheck
# MSO Properties go here

server:
  port: 8080
  tomcat:
      max-threads: 50

mso:
  logPath: ./logs/openstack
  site-name: localDevEnv
  async:
    core-pool-size: 50
    max-pool-size: 50
    queue-capacity: 500

spring:
  application:
    name: so-catalog-db-adapter
  datasource:
     hikari:
       jdbcUrl: jdbc:mariadb://${DB_HOST}:${DB_PORT}/catalogdb
       username: ${DB_USERNAME}
       password: ${DB_PASSWORD}
       driver-class-name: org.mariadb.jdbc.Driver
       pool-name: catdb-pool
       registerMbeans: true

  flyway:
    baseline-on-migrate: false
    url: jdbc:mariadb://${DB_HOST}:${DB_PORT}/catalogdb
    user: ${DB_ADMIN_USERNAME}
    password: ${DB_ADMIN_PASSWORD}
    outOfOrder: true
    validateOnMigrate: false
  jpa:
      show-sql: true
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        ddl-auto: validate
        ## naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
        naming:
          implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyHbmImpl
        enable-lazy-load-no-trans: true
  jackson:
    serialization:
      fail-on-empty-beans: false
  main:
    allow-bean-definition-overriding: true
  sleuth:
    enabled: ${TRACING_ENABLED:false}
    messaging:
      jms:
        enabled: false
    trace-id128: true
    sampler:
      probability: ${TRACING_SAMPLING_PROBABILITY:1.0}
    supports-join: false
    web:
      skip-pattern: /actuator/health/*
  zipkin:
    base-url: ${TRACING_COLLECTOR_URL:http://jaeger-collector.istio-system:9411}


#Actuator
management:
  endpoints:
    web:
      base-path: /manage
      exposure:
        include: "*"
  metrics:
    se-global-registry: false
    export:
      prometheus:
        enabled: true # Whether exporting of metrics to Prometheus is enabled.
        step: 1m # Step size (i.e. reporting frequency) to use.

logging:
  request-status:
    exclusions: []
