<configuration >

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
     <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{1024} - %msg%n
			</pattern>
    </encoder>
  </appender>

  <logger name="AUDIT" level="info" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="com.att.eelf.metrics" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
  </logger>

  <logger name="com.att.eelf.error" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
	<logger name="org.onap" level="${so.log.level:-DEBUG}" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="wiremock.org" level="DEBUG" />

</configuration>