<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{1024} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="com.att.ecomp.audit" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.att.eelf.metrics" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.att.eelf.error" level="trace" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.onap" level="${so.log.level:-DEBUG}" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.reflections" level="ERROR" />
    <!-- Spring related loggers -->
    <logger name="org.springframework" level="WARN" />
    <logger name="org.springframework.beans" level="WARN" />
    <logger name="org.springframework.web" level="WARN" />
    <logger name="com.blog.spring.jms" level="WARN" />

    <logger name="org.hibernate" level="WARN" />


    <!-- Tomcat related loggers -->
    <logger name="org.apache.tomcat.util.digester.Digester" level="WARN" />
    <logger name="org.apache.tomcat.util.modeler.modules.*" level="WARN" />
    <logger name="org.apache.tomcat.util.IntrospectionUtils" level="WARN" />
    <logger name="org.apache.catalina.loader.WebappClassLoaderBase" level="WARN" />
    <logger name="wiremock.org.eclipse.jetty" level="WARN" />

    <!-- https://java.testcontainers.org/supported_docker_environment/logging_config/ -->
    <logger name="org.testcontainers" level="INFO"/>
    <logger name="tc" level="INFO"/>
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="OFF"/>

</configuration>
