<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                         http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="pnfEventReadyConsumer" class="org.openecomp.mso.bpmn.infrastructure.pnf.dmaap.PnfEventReadyConsumer">
    <property name="dmaapHost" value="${dmaapHost}" />
    <property name="dmaapPort" value="${dmaapPort}"/>
    <property name="dmaapProtocol" value="${dmaapProtocol}"/>
    <property name="dmaapUriPathPrefix" value="${dmaapUriPathPrefix}"/>
    <property name="dmaapTopicName" value="${eventReadyTopicName}"/>
    <property name= "consumerGroup" value="${consumerGroup}"/>
    <property name="consumerId" value="${consumerId}"/>
  </bean>

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations" value="classpath:dmaapTest.properties"/>
  </bean>

</beans>
